<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Document</title>
    <style>
  .container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #eee;
}

.content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100px;
  background-color: #ccc;
}
    </style>
</head>
<body>
  <div class="container">
    <div class="content">
      <p>내용</p>
    </div>
  </div>

<script>

$(document).ready(function() {
  $('.content').css('display', 'none');
  $('.container').hover(function() {
    $('.content').fadeIn();
  }, function() {
    $('.content').fadeOut();
  });
});
 

    </script>

</body>
</html>