<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Document</title>
    <style>
      .box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
  border-radius: 15px;
}
.red {
  background: red;
  position: absolute;  
  top: 30px;
  left: 30px;
  z-index: -1;
}
.blue {
  background: blue;
  position: absolute;  
  top: 60px;
  left: 60px;
  z-index: 1;
}
.green {
  background: green;
  z-index: 0;
}
    </style>
</head>
<body>
  <div>
    <div>
      <div class="box red">red</div>
    </div>
      <div>
      <div class="box blue">blue</div>
    </div>
    <div>
      <div class="box green">green</div>
    </div>
  </div>
  




 

    </script>

</body>
</html>