<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Document</title>
    <style>
      div1{
        width: 30px;
        height: 30px;
        background-color: red;
      }
      div2{
        width: 30px;
        height: 30px;
        background-color: yellow;
      }
      div3{
        width: 30px;
        height: 30px;
        background-color: black;
    </style>
</head>
<body>
  <div id="div1"></div>
  <div id="div2"></div>
  <div id="div3"></div>
    <script>
  




 

    </script>

</body>
</html>