<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key = "sendMessage">
      INSERT INTO MESSAGE(MESSAGE_NO,
                     SENDER,
                     RECEIVER,
                     CONTENT
               				)
               VALUES (SEQ_MNO.NEXTVAL,
                     ?,
                     ?,
                     ?   
                     )
    </entry>
    
    <entry key="selectMessage">
    	SELECT NICK_NAME
    		  ,USER_NO
    	  FROM MEMBER 
    	 WHERE USER_NO IN 
    	 	( SELECT RECEIVER  AS MESSAGE_USER
 			    FROM MESSAGE
 				WHERE SENDER = ?
				UNION
			  SELECT SENDER AS MESSAGE_USER
 			  FROM MESSAGE
			  WHERE RECEIVER = ?)  
			 
    </entry>
    
    <entry key="getContents">
    	 SELECT *
    	   FROM MESSAGE
    	  WHERE SENDER IN(?,?)  
    	    AND RECEIVER IN(?,?)
    	  ORDER BY SEND_DATE DESC
    
    </entry>
    
    <entry key="sendMsgBoard">
    	INSERT INTO MESSAGE(MESSAGE_NO,
                     SENDER,
                     RECEIVER,
                     CONTENT
               				)
               VALUES (SEQ_MNO.NEXTVAL,
                     ?,
                     (SELECT USER_NO
                        FROM MEMBER
                        JOIN BOARD ON (WRITER = USER_NO)
                       WHERE BOARD_NO = ?),
                     ?   
                     )
    
    </entry>
	<entry key="messagePlus">
		SELECT *
  			FROM MESSAGE
  			WHERE RECEIVER = ?
 			AND IS_READ = 'N'
	</entry>
	
	 <entry key="messageCheck">
		UPDATE MESSAGE SET
		IS_READ = 'Y'
		WHERE SENDER = ?
		AND RECEIVER = ?
	</entry> 
	
	<entry key="MessageModal">
	 	SELECT M.USER_NAME , S.CONTENT
		FROM MESSAGE S
		JOIN MEMBER M ON (M.USER_NO = S.SENDER)
		WHERE S.RECEIVER = ?
		AND IS_READ ='N'
		AND S.SEND_DATE >= SYSDATE - INTERVAL '1' MINUTE 
		 
	</entry>
</properties>