<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	
	<entry key="insertThumbnailBook">
		INSERT INTO BOOK (BOOK_NO , 
						  SELLER , 
						  BOOK_NAME , 
						  PRICE , 
						  AUTHOR , 
						  PUBLISHER , 
						  IS_NOTED , 
						  CONDITION , 
						  IS_DIRECT , 
						  LOCATION)
				  VALUES (SEQ_BKNO.NEXTVAL,
				  		  ?,
				  		  ?, 
				  		  ?,
				  		  ?, 
				  		  ?,
				  		  ?,
				  		  ?,
				  		  ?,
				  		  ?)
	</entry>
	
	<entry key="insertAttachmentList">
		INSERT INTO BOOK_ATTACHMENT(FILE_NO ,
			 					   BOOK_NO , 
			 					   ORIGIN_NAME , 
			 					   CHANGE_NAME , 
			 					   FILE_PATH , 
			 					   FILE_LEVEL)
		VALUES (SEQ_BKFNO.NEXTVAL , SEQ_BKNO.CURRVAL , ? , ? , ? , ?)
	</entry>
	
	<entry key="selectThumbnailList">
		SELECT BOOK_NO ,
			   BOOK_NAME ,
			   PRICE ,
			   FILE_PATH || CHANGE_NAME AS TITLEIMG
		FROM BOOK B
		LEFT OUTER JOIN BOOK_ATTACHMENT USING (BOOK_NO)
		WHERE B.STATUS = 'Y';
	</entry>
</properties>