<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	
	<entry key="insertBook">
		INSERT INTO BOOK (BOOK_NO , 
						  SELLER , 
						  BOOK_NAME , 
						  PRICE , 
						  AUTHOR , 
						  PUBLISHER , 
						  IS_NOTIED , 
						  CONDITION , 
						  IS_DIRECT , 
						  LOCATION)
				  VALUES (SEQ_BKNO.NEXTVAL,
				  		   ? , 
				  		   ? , 
				  		   ? , 
				  		   ? , 
				  		   ? , 
				  		   ? , 
				  		   ? , 
				  		   ? , 
				  		   ?)
	</entry>
	
	
	
</properties>