<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="getReportedUsers">
		SELECT *
		  FROM MEMBER
		 WHERE REPORT_COUNT > 0
		   AND IS_BANNED = 'N'
		   AND IS_WHITELIST = 'N'
	</entry>
	
	<entry key="getReportedBoards">
		SELECT *
		  FROM BOARD
		 WHERE REPORT_COUNT > 0
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="getEnrollmentReqs">
		SELECT *
		  FROM MEMBER
		 WHERE AVAILABLE = 'N'
	
	</entry>
	
	<entry key="getBoards">
		SELECT *
		  FROM BOARD
		  JOIN CATEGORY USING(CATEGORY_NO)
		 WHERE CATEGORY_NAME = ?
		   AND STATUS = 'Y'
	
	</entry>
	
	<entry key="getBoardMakeReq">
		SELECT *
		  FROM CATEGORY
		  JOIN MEMBER ON(REQ_USER = USER_NO)		
	</entry>
	
	<entry key="getNoneApprovedUser">
		SELECT *
		  FROM MEMBER
		 WHERE AVAILABLE = 'N'
		   AND USER_ID = ?
	</entry>
	
	<entry key="getBoardMakeReqDetail">
		SELECT *
		  FROM CATEGORY
		  JOIN BOARD_REQ ON (BOARD_NAME = CATEGORY_NAME)
		  JOIN MEMBER ON (REQ_USER = USER_NO)
		 WHERE CATEGORY_NAME = ?	
	
	</entry>
	
	<entry key="getReportedUser">
		SELECT *
		  FROM MEMBER
		 WHERE USER_ID = ?	
	</entry>
	
	<entry key="approveEnroll">
		UPDATE MEMBER
		   SET AVAILABLE = 'Y'
		 WHERE USER_ID = ?	
	</entry>
	
	<entry key="denyEnroll">
		DELETE MEMBER
		 WHERE USER_ID = ?	
	</entry>
	
	<entry key="banUser">
		UPDATE MEMBER
		   SET IS_BANNED = 'Y'
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="whitelistUser">
		UPDATE MEMBER
		   SET IS_WHITELIST = 'Y'
		 WHERE USER_ID = ?
	</entry>

</properties>