<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="getReportedUsers">
		SELECT *
		  FROM MEMBER
		 WHERE REPORT_COUNT > 0
		   AND IS_BANNED = 'N'
		   AND IS_WHITELIST = 'N'
	</entry>
	
	<entry key="getReportedBoards">
		SELECT *
		  FROM BOARD
		 WHERE REPORT_COUNT > 0
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="getEnrollmentReqs">
		SELECT *
		  FROM MEMBER
		 WHERE AVAILABLE = 'N'
	
	</entry>
	
	<entry key="getBoards">
		SELECT *
		  FROM BOARD
		  JOIN CATEGORY USING(CATEGORY_NO)
		 WHERE CATEGORY_NAME = ?
		   AND STATUS = 'Y'
	
	</entry>
	
	<entry key="getBoardMakeReq">
		SELECT *
		  FROM CATEGORY
		  JOIN MEMBER ON(REQ_USER = USER_NO)
	
	
	</entry>

</properties>