<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
	
	</entry>
	
	<entry key = "friendId">
	SELECT * 
		  FROM MEMBER
		 WHERE USER_ID = ?
		   AND USER_ID != ?
	</entry>
	
	<entry key = "friendReq">
	INSERT INTO FRIEND(SENDER , RECEIVER)
    VALUES(?,(SELECT USER_NO
			    FROM MEMBER
			   WHERE USER_ID = ? ))
      	
	</entry>
		
	<entry key = "friendlist">
		
		SELECT USER_NAME
 			   FROM MEMBER
 			   WHERE USER_NO IN (SELECT RECEIVER AS FRIENDS
  			   FROM FRIEND
 			   WHERE SENDER = ? AND IS_AGREE='Y'
 			UNION
			   SELECT SENDER AS FRIENDS
  			   FROM FRIEND 
 			   WHERE RECEIVER = ? AND IS_AGREE='Y')
	</entry>
	
	<entry key="friendlist2">
	SELECT USER_NAME
		FROM MEMBER
		WHERE USER_NO IN( SELECT RECEIVER
        FROM FRIEND
        WHERE SENDER = ?
        AND IS_AGREE = 'N')
	</entry>
	
	<entry key="friendlist3">
		SELECT USER_NAME
			FROM MEMBER
			WHERE USER_NO IN( SELECT SENDER
       		FROM FRIEND
       		WHERE RECEIVER = ?
       		AND IS_AGREE = 'N')
	</entry>
	
	<entry key="friendaccept">
		UPDATE FRIEND SET
		IS_AGREE = 'Y'
		WHERE SENDER = ?
		AND RECEIVER = ?
	</entry>
	
</properties>