<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="getStudyTime">
         SELECT 
            STUDY_TIME_NO,
            TARGET_TIME,
            TIME_AMOUNT,
            STUDY_DATE
        FROM STUDY_TIME
        WHERE USER_NO = ?
        ORDER BY STUDY_DATE
   </entry>
	
	<entry key="insertStudyTime">
      INSERT INTO STUDY_TIME (STUDY_TIME_NO, USER_NO, TIME_AMOUNT, STUDY_DATE)
      VALUES(SEQ_asdasd.NEXTVAL
           ,?
           ,?
           ,?
           )
   </entry>
	
	<entry key="sumStudyTime">
		SELECT SUM (TIME_AMOUNT) AS TIME_AMOUNT
			FROM STUDY_TIME
			WHERE USER_NO = ?
	</entry>
	











</properties>