<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


   <entry key="selectBoard">
      SELECT *    
      FROM(
            SELECT ROWNUM RNUM , A.*
            FROM (
               SELECT DISTINCT
                     BOARD_NO,
                     TITLE,
                     CONTENT,
                     B.CATEGORY_NO,
                     M.NICK_NAME AS WRITER,
                     IS_QUESTION,
                          IS_ANONIMOUS,
                     B.RECOMMEND_COUNT,
                     B.ENROLL_DATE,
                     REPLY_COUNT
                                         
               FROM BOARD B
               JOIN MEMBER M ON (B.WRITER = M.USER_NO)
               WHERE CATEGORY_NO = ?
                 AND B.STATUS = 'Y'
               ORDER BY ENROLL_DATE DESC
            ) A
         )
      WHERE RNUM BETWEEN ? AND ?
        
   </entry>
   

   <entry key="boardListCount">
      SELECT COUNT(*) AS COUNT
        FROM BOARD
       WHERE CATEGORY_NO = ?
         AND STATUS = 'Y'
   </entry>


   <entry key="selectContent">
      SELECT 
            B.BOARD_NO,
            TITLE,
            CONTENT,
            M.NICK_NAME AS WRITER,
            IS_QUESTION,
            IS_ANONIMOUS,
            B.RECOMMEND_COUNT,
            B.SCRAP_COUNT,
            REPLY_COUNT,
            B.CATEGORY_NO,
            B.ENROLL_DATE
        FROM BOARD B
        JOIN MEMBER M ON (B.WRITER = M.USER_NO)
       WHERE BOARD_NO = ?
         AND B.STATUS = 'Y'
   </entry>
   
    <entry key="selectReplyCount">
      SELECT 
            REPLY_COUNT AS COUNT
        FROM BOARD
       WHERE BOARD_NO = ?
   </entry>
   
   <entry key="test">
     (SELECT COUNT(*)
                          FROM REPLY R
                          WHERE R.BOARD_NO = B.BOARD_NO)  
   </entry>
   
   <entry key="insertBoard">
      INSERT INTO BOARD (BOARD_NO, TITLE, CONTENT, CATEGORY_NO, WRITER, IS_QUESTION, IS_ANONIMOUS)
      VALUES(SEQ_BONO.NEXTVAL
           ,?
           ,?
           ,?
           ,?
           ,?
           ,?
           )
   </entry>
   
   
   
   
   
   
   
   <entry key="searchList">
      SELECT *    
      FROM(
            SELECT ROWNUM RNUM , A.*
            FROM (
               SELECT DISTINCT
                     BOARD_NO,
                     TITLE,
                     CONTENT,
                     WRITER,
                     IS_QUESTION,
                     IS_ANONIMOUS,
                     B.RECOMMEND_COUNT,
                     B.ENROLL_DATE,
                     REPLY_COUNT
                                         
               FROM BOARD B
               JOIN MEMBER M ON (B.WRITER = M.USER_NO)
               WHERE B.TITLE LIKE  ?
                  OR B.CONTENT LIKE ?
                 AND B.STATUS = 'Y'
               ORDER BY ENROLL_DATE DESC
            ) A
         )
      WHERE RNUM BETWEEN ? AND ?
        
   </entry>
   
   
   
   <entry key="keywordListCount">
      SELECT COUNT(*) AS COUNT
        FROM BOARD
       WHERE TITLE LIKE  ?
                  OR CONTENT LIKE ?
         AND STATUS = 'Y'
   </entry>
   
   
   
   
   <entry key="bestList">
      SELECT *    
      FROM(
            SELECT ROWNUM RNUM , A.*
            FROM (
               SELECT DISTINCT
                     BOARD_NO,
                     TITLE,
                     CONTENT,
                     B.CATEGORY_NO,
                     M.NICK_NAME AS WRITER,
                     IS_QUESTION,
                          IS_ANONIMOUS,
                     B.RECOMMEND_COUNT,
                     B.ENROLL_DATE,
                     REPLY_COUNT
                                         
               FROM BOARD B
               JOIN MEMBER M ON (B.WRITER = M.USER_NO)
               WHERE B.RECOMMEND_COUNT > ?
               AND TO_CHAR(B.ENROLL_DATE,'YYYY') = ?
                 AND B.STATUS = 'Y'
               ORDER BY B.RECOMMEND_COUNT DESC
            ) A
         )
      WHERE RNUM BETWEEN ? AND ?
        
   </entry>
   

	<entry key="bestListCount">
		SELECT COUNT(*) AS COUNT
		  FROM BOARD
		 WHERE RECOMMEND_COUNT > ?
		   AND STATUS = 'Y'
		   
	</entry>
	

	
	<entry key="deleteContent">
	  UPDATE BOARD SET
	  	STATUS = 'N'
	  	WHERE BOARD_NO = ?
	  	AND USER_NO = ?
	</entry>
	
	<entry key="updateBoard">
	  UPDATE BOARD SET
	  	TITLE = ?,
	  	CONTENT = ?,
	  	CATEGORY_NO = ?,
	  	IS_QUESTION = ?,
	  	IS_ANONIMOUS = ?
	  		WHERE BOARD_NO = ?
	  		AND USER_NO = ?
	</entry>
	
	<entry key="recommendCountUp">
	  UPDATE BOARD SET
	  	RECOMMEND_COUNT = RECOMMEND_COUNT + 1
	  	WHERE BOARD_NO = ?
	</entry>
	
	<entry key="scrapCountUp">
	  UPDATE BOARD SET
	  	SCRAP_COUNT = SCRAP_COUNT + 1
	  	WHERE BOARD_NO = ?
	</entry>
	
	<entry key="getHotBestBoardlist">
		SELECT BOARD_NO
		     , TITLE
		  FROM BOARD
		 WHERE RECOMMEND_COUNT > ?
		   AND TO_CHAR(ENROLL_DATE,'YYYY') = ?
	</entry>
	
	 <entry key="replyCountUp">
      UPDATE BOARD SET
	  		REPLY_COUNT = REPLY_COUNT + 1
	  	WHERE BOARD_NO = ?
   </entry>
   
   <entry key="replyCountDown">
      UPDATE BOARD SET
	  		REPLY_COUNT = REPLY_COUNT - 1
	  	WHERE BOARD_NO = ?
   </entry>
   
   <entry key="categoryTitle">
   		SELECT CATEGORY_NAME
   			 , CATEGORY_NO
		FROM CATEGORY
		WHERE CATEGORY_NAME LIKE ?
		AND AVAILABLE = 'Y'
   </entry>
	
</properties>