<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="selectBoard">
		SELECT * 	
		FROM(
				SELECT ROWNUM RNUM , A.*
				FROM (
					SELECT DISTINCT
					      BOARD_NO,
					      TITLE,
					      CONTENT,
					      B.CATEGORY_NO,
					      M.NICK_NAME AS WRITER,
					      IS_QUESTION,
                          IS_ANONIMOUS,
					      B.RECOMMEND_COUNT,
					      B.ENROLL_DATE,
					      REPLY_COUNT
					                          
					FROM BOARD B
					JOIN MEMBER M ON (B.WRITER = M.USER_NO)
					WHERE CATEGORY_NO = ?
					  AND B.STATUS = 'Y'
					ORDER BY ENROLL_DATE DESC
				) A
			)
		WHERE RNUM BETWEEN ? AND ?
        
	</entry>
	

	<entry key="boardListCount">
		SELECT COUNT(*) AS COUNT
		  FROM BOARD
		 WHERE CATEGORY_NO = ?
		   AND STATUS = 'Y'
	</entry>


	<entry key="selectContent">
		SELECT 
				TITLE,
				CONTENT,
				M.NICK_NAME AS WRITER,
				IS_QUESTION,
				IS_ANONIMOUS,
				B.RECOMMEND_COUNT,
				B.SCRAP_COUNT,
				REPLY_COUNT,
				B.CATEGORY_NO,
				B.ENROLL_DATE
		  FROM BOARD B
		  JOIN MEMBER M ON (B.WRITER = M.USER_NO)
		 WHERE BOARD_NO = ?
		   AND B.STATUS = 'Y'
	</entry>
	
	<entry key="test">
	  (SELECT COUNT(*)
                          FROM REPLY R
                          WHERE R.BOARD_NO = B.BOARD_NO)  
	</entry>
	
	<entry key="insertBoard">
		INSERT INTO BOARD (BOARD_NO, TITLE, CONTENT, CATEGORY_NO, WRITER, IS_QUESTION, IS_ANONIMOUS)
		VALUES(SEQ_BONO.NEXTVAL
			  ,?
			  ,?
			  ,?
			  ,(SELECT M.USER_NO
			  	  FROM MEMBER M
			  	  JOIN BOARD B ON (B.WRITER = M.)
			  	 WHERE USER_ID = ?)
			  ,?
			  ,?
			  )
	</entry>
	
	
	
	
	
	
	
	<entry key="searchList">
      SELECT *    
      FROM(
            SELECT ROWNUM RNUM , A.*
            FROM (
               SELECT DISTINCT
                     BOARD_NO,
                     TITLE,
                     CONTENT,
                     WRITER,
                     IS_QUESTION,
                     IS_ANONIMOUS,
                     RECOMMEND_COUNT,
                     B.ENROLL_DATE,
                     REPLY_COUNT
                                         
               FROM BOARD B
               JOIN MEMBER M ON (B.WRITER = M.USER_NO)
               WHERE B.TITLE LIKE  ?
                  OR B.CONTENT LIKE ?
                 AND B.STATUS = 'Y'
               ORDER BY ENROLL_DATE DESC
            ) A
         )
      WHERE RNUM BETWEEN ? AND ?
        
   </entry>
	
	<entry key="searchContent">
		SELECT 
				TITLE,
				CONTENT,
				M.NICK_NAME AS WRITER,
				IS_QUESTION,
				IS_ANONIMOUS,
				B.RECOMMEND_COUNT,
				B.SCRAP_COUNT,
				REPLY_COUNT,
				B.CATEGORY_NO,
				B.ENROLL_DATE
		  FROM BOARD B
		  JOIN MEMBER M ON (B.WRITER = M.USER_NO)
		 WHERE BOARD_NO = ?
		   AND B.STATUS = 'Y'
	</entry>
	
	<entry key="keywordListCount">
		SELECT COUNT(*) AS COUNT
		  FROM BOARD
		 WHERE TITLE LIKE  ?
                  OR CONTENT LIKE ?
		   AND STATUS = 'Y'
	</entry>
	
	
	
</properties>