<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="getCategoryName">
		SELECT CATEGORY_NAME
		  FROM CATEGORY
		 WHERE CATEGORY_NO = ?
			AND AVAILABLE = 'Y'
	</entry>

	<entry key="selectRequestBoard">
		SELECT CATEGORY_NAME, AVAILABLE
		  FROM CATEGORY
		 WHERE REQ_USER = ?
	</entry>
	
	<entry key="deleteRequestBoard">
		DELETE CATEGORY
		 WHERE CATEGORY_NAME = ?
	</entry>
	
</properties>