<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="recommendContent">
		INSERT INTO BOARD_RECOMMEND VALUES
	 	 (?, ?)
	</entry>
	
	<entry key="recommendReply">
		INSERT INTO	REPLY_RECOMMEND VALUES
	 	 (?, ?)
	</entry>
	
	<entry key="recommendCheck">
		SELECT BOARD_NO
		FROM BOARD_RECOMMEND
		WHERE USER_NO = ?
	</entry>
	
</properties>