<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertReply">
		INSERT INTO REPLY(REPLY_NO, BOARD_NO, WRITER, CONTENT, IS_ANONIMOUS)
		VALUES (SEQ_RNO.NEXTVAL, ?, ?, ?, ?)		
	</entry>
	
	<entry key="selectReplyList">
		SELECT 
			REPLY_NO, 
			R.CONTENT, 
			NICK_NAME,
			R.ENROLL_DATE,
			R.IS_ANONIMOUS
		FROM REPLY R
		JOIN MEMBER ON (USER_NO = WRITER)
		WHERE BOARD_NO = ?
		ORDER BY ENROLL_DATE DESC, REPLY_NO DESC
	</entry>
	
	<entry key="deleteReply">
		DELETE FROM REPLY
			WHERE REPLY_NO = ?
	</entry>

	
</properties>