<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertReply">
		INSERT INTO REPLY(REPLY_NO, BOARD_NO, WRITER, CONTENT, IS_ANONIMOUS)
		VALUES (SEQ_RNO.NEXTVAL, ?, ?, ?, ?)		
	</entry>
	
	<entry key="selectReplyList">
		SELECT 
			R.REPLY_NO,
			R.BOARD_NO,
			NICK_NAME AS WRITER,
			R.CONTENT, 
			R.RECOMMEND_COUNT,
			R.REPORT_COUNT,
			R.ENROLL_DATE,
			R.IS_ANONIMOUS,
			P_REPLY_NO
		FROM REPLY R
		JOIN MEMBER ON (USER_NO = WRITER)
		WHERE BOARD_NO = ?
		ORDER BY ENROLL_DATE DESC, REPLY_NO DESC
	</entry>
	
	<entry key="deleteReply">
		DELETE FROM REPLY
			WHERE REPLY_NO = ?
	</entry>
	
		<entry key="recommendCountUp">
	  UPDATE REPLY SET
	  	RECOMMEND_COUNT = RECOMMEND_COUNT + 1
	  	WHERE REPLY_NO = ?
	</entry>

	
</properties>