<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="scrapContent">
		INSERT INTO SCRAP VALUES
	 	 (?, ?)
	</entry>
	
	<entry key="scrapDelete">
 	 DELETE FROM SCRAP
     	WHERE BOARD_NO = ?
     		AND USER_NO = ?
	</entry>
	
	<entry key="scrapCheck">
		SELECT BOARD_NO
		FROM SCRAP
		WHERE USER_NO = ?
	</entry>
	
</properties>