#board-detail ul {
    margin: 0;
    padding: 0;
}

#board-detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#board-detail >*{
    width: 100%;
    min-height : 40px;
	vertical-align : middle;
	padding: 10px;

}

#board-detail li {
    
    list-style-type: none;
    
}

#board-detail li {
    list-style-type: none;
   
}

#board-detail-comment{
    display: flex;
    justify-content: end;
   
}

#board-detail-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#createContent > div, #createContent {
    width: 100%;
}

#createContent-check {
    display: flex;
    justify-content: space-between;
}
#content-area >li {
    background: rgb(255, 255, 255);
    border-radius: 2px; 
    margin-top: 2px;
}

#category {
    border: 1px solid skyblue;
    border-radius: 10px;
    background: skyblue;
    color : white;
}

#createContent{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid skyblue;
    margin-top: 2px;
    
}
#createContent div{
    width: 100%;
}
body * {
    color :rgb(107, 110, 153);
}

#title, #content{
    width: 100%;
    border: 1px solid skyblue;
    border-radius: 3px;
    border-color: rgb(158, 152, 152);
    outline-color: skyblue;
    outline-width: 1.5px;
}
#title{
    height: 25px;
    margin-bottom: 5px;
}
#content{
    height: 200px;
    resize: none;
}
#btns{
    display: flex;
    width: 250px;
    justify-content: end;
}
#btns>div{
    width: auto;
    margin-left: 5px;
}