#content{
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 600px;
   
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boardmake{
 	    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 700px;
    height: 600px;
    border-radius: 15px;
    border: 2px solid lightgray;
}

#keyword>div{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid lightgray; 
}

#searchresult{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 30px;
    color: red;
    border: 1px solid lightgray; 
    display:none;
    
}

#boardmake input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid lightgray;
    text-align: center;

}

#content{
    display: flex;
     
}
#boardrequest{
	
}

#margin{
	
	display: flex;
	justify-content: center;
	width : 700px;
	margin-top : 20px;
	margin: 30px
}

#boardlist{
	  display: flex;
    flex-direction: column;
    align-items: center;
}

#scroll{
	overflow:scroll;
	 width:500px;
	 height:330px;
	 overflow-x: hidden;
	 border: 2px solid lightgray;
}

.moveboard{
	border: 1px solid lightgray;
	width: 500px;
}

body {
         width:100%;
       height:100%;
       margin: 0;
        padding-top: 80px;
        padding-bottom: 40px;
        font-family: "Nanum Gothic", arial, helvetica, sans-serif;
        background-repeat: no-repeat;
        background:linear-gradient(to bottom right, white, #6BA8D1);
    }
	#boardmake{
	
      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
		margin: auto;
	}
#Board{
	margin-right:10px;
	margin-left:170px;
	width: 300px;
	height:37px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid lightgray
}

.searchtitle{

}

 
