#content{
    
    width: 900px;
    height: 600px;
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boardmake{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 700px;
    height: 600px;
    border-radius: 15px;
    border: 2px solid lightgray;
}

#keyword>div{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid lightgray; 
}

#searchresult{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 30px;
    color: red;
    border: 1px solid lightgray; 
}

#boardmake input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid lightgray;
    text-align: center;

}

#content{
    display: flex;
    justify-content: center;
}
#boardrequest{
	 margin: 10px;
}

#margin{
	margin-top : 20px;
}

#boardlist{
	margin-top : 50px;
}

#scroll{
	overflow:scroll;
	 width:500px;
	 height:330px;
	 overflow-x: hidden;
}

.moveboard{
	border: 2px solid lightgray;
	
}
