#content{
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 600px;
   
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boardmake{
 	    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 700px;
    height: 600px;
    border-radius: 15px;
    border: 2px solid lightgray;
}

#keyword>div{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid lightgray; 
}

#searchresult{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 30px;
    color: red;
    border: 1px solid lightgray; 
    display:none;
    border-radius: 5px;
    
}

#boardmake input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid lightgray;
    text-align: center;

}

#content{
    display: flex;
     
}

#margin{
	
	display: flex;
	justify-content: center;
	width : 700px;
	margin-top : 20px;
	margin: 30px
}

#boardlist{
	  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

#scroll{
	    overflow: scroll;
    width: 500px;
    height: 420px;
    overflow-x: hidden;
    border: 2px solid lightgray;
    margin: 20px 0px;
    border-radius: 15px;
}

.moveboard{
	border: 1px solid lightgray;
	width: 500px;
}

body {
       padding : 0px;
    margin: 0px;
   /*  background:linear-gradient(to bottom, rgb(255, 255, 255), #98a4b9);  */
    background-image: url(../IMG/배경화면.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    }
	#boardmake{
	
      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
		margin: auto;
	}
#Board{
	margin-right:10px;
	margin-left:170px;
	width: 300px;
	height:37px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid lightgray
}

#boardrequest{
 border-radius: 5px;
    border: 1px solid transparent;
    background-color: #00bfff;
    text-align: center;
    color: white;
    height : 40px;
    width : 110px;
}

#boardSearch{
	 border-radius: 5px;
    border: 1px solid transparent;
    background-color: #00bfff;
    text-align: center;
    color: white;
    height : 40px;
    width : 70px;
}
#categoryName{
	padding : 10px;
}
