#body {
    width: 1180px;
    margin: auto;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#body td {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    padding: 4px 5px;
    color: rgb(78, 93, 107);
}
#body table p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    width: 370px;
}

#main-banner {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
}
.swiper-slide img{
	 width: 1200px;
     height: 230px;
}
#body-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#body-left {
    width: 800px;
}

#body-left table {
    border: 1px solid #E9ECEF;
    background-color: #E3F2FD;
    min-height : 200px;
}
#books-wrapper, #books-title{
    width: 100%;
}
#books-title{
    background-color: #42A5F5;
    color: white;
    border-radius: 5px;
    padding: 7px;
    font-weight: bold;
    cursor:pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#books-body{
    width: 100%;
    display: flex;	
    justify-content: space-between;
}
#books-body>div{
    width : 195px;
    padding: 5px;
    height: 360px;
    background-color: white;
    border-radius: 5px;
}
#books-body>div:hover {
	cursor: pointer;
}
#books-wrapper{
    padding: 7px;
    margin-bottom: 30px;
}
#books-wrapper>div>div{
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#books-wrapper>div>div:hover{
	filter: brightness(0.9);
}
.book-img{
    width: 100%;
    height: 270px;
}
.book-img>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.book-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}
.book-text > div {
    width: 100%;
    margin: 10px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



#board-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;

}

#board-wrapper>table {
    margin: 5px;
    min-width: 48%;
    border-radius: 5px;
}

#board-wrapper th {
    text-align: left;
    background-color: #42A5F5;
    color: aliceblue;
    border-radius: 5px;
    padding: 7px;
}

#body-right {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    transition-duration : 1s;
}

#body-right table {
    border-radius: 5px;
    background-color: #FFEBEE;
}

#body-right img {
    margin-right: 10px;
}

#body-right input:focus {
    outline: none;
}
#body-right input[type='button']:hover{
	cursor : pointer;
}

#body-right>div {
    margin: 7px 0px;
    border-radius: 5px;
   
}

#body-right>form {
    border-radius: 5px;
}
#search {
    border: 1px solid #E9ECEF;
    background-color: white;
    width: 100%;
    display: flex;
}

#search input {
    height: 40px;
    width: 280px;
    border: none;
    text-align: center;
}

#login {
    width: 100%;
    background-color: rgb(199, 224, 245);
}

#id-wrapper,
#pwd-wrapper,
#btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 20px;
}
#id-wrapper{
    margin-top: 10px;
}
#btn-wrapper {
    margin : 10px 0px;
}
#btn-wrapper > input[type="button"] {
    border: 1px solid transparent;
    border-radius: 5px;
    width: 80px;
    height: 20px;
    margin-right: 5px;
}

#login input[type="text"],
#login input[type="password"] {
    border-radius: 5px;
    margin: 5px 0px;
    width: 250px;
    height: 40px;
    border: 0.5px solid white;
}

#loginuser-profile{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    color: rgb(117, 116, 116);
    border-radius: 5px;
}
#loginuser-profile img{
    width: 130px;
    height: 130px;
    margin: 0;
}
#loginuser-profile>div {
    width: 100%;
    text-align: center;
}

#user-list,
#additional-functions {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
}

#user-list>div {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}
#user-list img, #additional-functions img{
    margin-left: 20px;
}

#user-list>div {
    width: 100%;
}

#additional-functions,
#additional-functions div {
    width: 100%;
}

#additional-functions>div {  
    height: 40px;
    display: flex;
    align-items: center;
}


#hot-board {
    width: 100%;
}

#hot-board>table,
#best-board>table {
    width: 100%;
}

#hot-board th {
    text-align: left;
    background-color: #F44336;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
}

#best-board {
    width: 100%;
}

#best-board th {
    text-align: left;
    background-color: #F44336;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
}
/* #banner-wrapper{
    width: 100%;
    padding: 8px;
} */
#logoutbtn, #mypagebtn{
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px 5px;
    height: 30px;
}

#logoutbtn{
    background-color: black;
    color: white;
}

#main_image {
    position: relative;
  }
  
#main_image_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -100%, -80% );
    color: white;
  }
  
#btn1 {
  position: absolute;
  top: 170px;
  left : 220px; 
  background-color: blanchedalmond;
  border-radius: 15px;
}

#main_image_text2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -100%, -70% );
    color: white;
  }
  
 #btn2 {
  position: absolute;
  top: 190px;
  left : 250px; 
  background-color: black;
  border-radius: 15px;
  color: white;
} 

 .hoverList:hover, .openBtn:hover{
     	cursor:pointer;
     	background-color:#42A5F5;
     	color:white;
    }
