@font-face {
    font-family: "semi_font";
    src: url("../Fonts/SB\ 어그로\ L.ttf") format("truetype");
    font-weight: normal;
  }
* {
    font-family: 'semi_font';
}

#message-btn{
    margin-right: 5px;
    height: 100%;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/쪽지함.png);  
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#mypage-btn{
    margin-left: 5px;
    height: 100%;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/마이페이지.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#book-header-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 155px;
}

#book-header-right>button {
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

#login-btn{
    margin: 2px;
    width: 67px;
    background-color: #42A5F5;
    color: white;
    cursor: pointer;
}
#enrollment-btn {
    margin: 2px;
    width: 78px;
    cursor: pointer;
}

#bookname {
	border: none;
	border-radius: 2px;
}

#book-name-search {
	border: 0.1;
}

#prevPage, #nextPage {
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding: 0;
	border: none;
	cursor: pointer;
}

#book-page img{
	width : 100%;
	height : 100%;
}

#book-page {
	display: flex;
	width: 150px;
	justify-content: space-evenly;
	border: none;
	background-color: transparent;
	color: white;
}

button:hover,
#home-logo {
	cursor: pointer;
}