

#book-title {
	box-shadow: 5px 5px 5px gray;
    height: 100%;
    background: white;
}

#book-inf {
	
    align-items: center;
    margin-top: 50px;
}

#book-detail-status {
	background: white;
}

#book-status {
	box-shadow: 5px 5px 5px gray;
	background: white;
}

#book-trade {
	box-shadow: 5px 5px 5px gray;
	background: white;
}

#book-direct {
	box-shadow: 5px 5px 5px gray;
    background: white;
    display: flex;
    flex-direction: column
}

.send-btn {
    width: 500px;
    height: 40px;
    background: rgb(57, 189, 235);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.send-message {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: rgb(57, 189, 235);
	color: white;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#send-message {
	display: flex;
    flex-direction: row;
    align-items: center;
}

#back-btn:hover ,
.send-message:hover ,
.d-Img:hover {
	cursor: pointer;
}

.hidden {
   display: none;
}

.modal {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 635px;
    border-radius: 16px;
    z-index: 2;
}

#back-btn {
	background-color: rgb(57, 189, 235);
	color: white;
}

#back {
	display: flex;
	justify-content: space-around;
}

.listPrice {
	display: flex;
    align-items: center;
    justify-content: space-around;
}