 img {
            width: 220px;
            height: 340px;
            display: flex;
            justify-content: center;
    		align-items: center;
        }
.book-text {
        	/* width: 500px;
        	height:400px; */
        	display: flex;
            justify-content: space-around;
    		align-items: center;
    		flex-direction: column;
    		text-align: center;
        }
        
#book-thumbnail {
        	width: 600px;
        	height: 400px;
        	display: flex;
            justify-content: space-around;
    		align-items: center;
    		
        }
        
#book-header {
    height: 120px;
    width: 100%;
    background-color: white;
    /* position: fixed; */
    top: 0;
}

#book-header-content {
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-logo,
#book-logo {
    height: 120px;
    width: 120px;
}

#home-logo>img {
    width: 100%;
    height: 100%;
}

#book-logo {
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
}

#book-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}

#book-header-navbar {
    display: flex;
    background-color:  rgb(57, 189, 235);
    align-items: end;
}

#book-home-btn ,
#book-sell-btn ,
#book-modify-btn {
    border: none;
    background: none;
}

#book-home-btn-img ,
#book-sell-btn-img ,
#book-modify-btn-img {
    width: 30px;
    height: 30px;
}

#book-home-btn-img:hover ,
#book-sell-btn-img:hover ,
#search-btn:hover ,
#book-page-btn1 ,
#book-page-btn2 ,
#book-page-btn3 ,
#book-page-btn4 {
   cursor: pointer;   
}

#book-btn {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#glass {
    width: 30px;
    height: 30px;
}

#search-btn {
    background: rgb(57, 189, 235);
    color: white;
    height: 30px;
    border: none;
}

#book-body {
    width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#book-navbar {
    width: 100%;
    height: 50px;
    background-color:  rgb(57, 189, 235);
    align-items: center; /* 세로 정렬 */
    justify-content:center;
    display: flex;
}

#book-home {
    width: 200px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between; /* 가로 정렬 */
}

#book-body-content1 {
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 100px; */
    justify-content: space-around;
}

#book-body-content2 {
	display: flex;
	justify-content: space-evenly;
}

.book-sell-img {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#book-search , 
#book-search-input {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#book-footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-sell-inf {
	display: flex;
	width: 440px;
}

.book-sell-inf1,
.book-sell-inf2,
.book-sell-inf3 {
	display: flex;
}

.book-price {
	display: flex;
}

.book-detail-text {
	font-size: x-large;
}

#page-num {
	width: 23px;
	text-align: center;
}

#page-num::-webkit-outer-spin-button, #page-num::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#book-page img{
	width : 100%;
	height : 100%;
}

#book-page {
	display: flex;
	width: 150px;
	justify-content: space-evenly;
}
#prevPage, #nextPage {
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding: 0;
	border: none;
}