

#book-title {
	box-shadow: 5px 5px 5px gray;
	width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
}

#book-inf {
	display: flex;
	flex-direction: column;
    margin-top: 50px;
}

#book-detail-status {
	background: white;
	width: 100%;
}

#book-status {
	box-shadow: 5px 5px 5px gray;
	background: white;
	width: 100%;
}

#book-trade {
	box-shadow: 5px 5px 5px gray;
	background: white;
	width: 100%;
}

#book-direct {
	box-shadow: 5px 5px 5px gray;
    background: white;
    display: flex;
    flex-direction: column
}

.send-btn {
    width: 500px;
    height: 40px;
    background: rgb(57, 189, 235);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#back-btn:hover ,
.send-message:hover ,
.d-Img:hover,
#modify-btn:hover {
	cursor: pointer;
}

.hidden {
   display: none;
}

#back-btn {
	background-color: rgb(57, 189, 235);
	color: white;
	box-shadow: 5px 5px 5px gray;
	border: none;
	border-radius: 9px;
}

#back {
	display: flex;
	justify-content: space-around;
}

.listPrice {
	display: flex;
    align-items: center;
    justify-content: space-around;
}

#bookName {
	display: flex;
	align-items: center;
}

#modify-btn {
	width: 75px;
	height: 50px;
	margin-left: 700px;
	border: none;
	background-color: rgb(57, 189, 235);
	color: white;
	border-radius: 9px;
	box-shadow: 5px 5px 5px gray;
}

.book-status-img {
	display: flex;
	flex-direction: column;
}

.book-title-img {
	display: flex;
}
