@font-face {
    font-family: "semi_font";
    src: url("../Fonts/SB\ 어그로\ L.ttf") format("truetype");
    font-weight: normal;
  }
* {
    font-family: 'semi_font';
}

#message-btn{
    margin-right: 5px;
    height: 100%;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/쪽지함.png);  
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#mypage-btn{
    margin-left: 5px;
    height: 100%;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/마이페이지.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#book-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}

#book-header-right>button {
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

#login-btn{
    margin: 2px;
    width: 67px;
    background-color: #42A5F5;
    color: white;
    cursor: pointer;
}
#enrollment-btn {
    margin: 2px;
    width: 78px;
    cursor: pointer;
}

/* hr {
	border: 1px solid black;
} */