

#book-title {
	box-shadow: 5px 5px 5px gray;
	width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
    border-radius: 16px;
}

#book-inf {
	display: flex;
	flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
}

#book-inf * {
	margin: 10px 0px;
}

#book-detail-status {
	background: white;
	width: 100%;
	border-radius: 16px;
}

#book-detail-status * {
	border: none;
}

#book-status {
	box-shadow: 5px 5px 5px gray;
	background: white;
	width: 100%;
	border-radius: 16px;
	height: 530px;
}

#book-trade {
	box-shadow: 5px 5px 5px gray;
	background: white;
	width: 100%;
	border-radius: 16px;
}

#book-trade > * {
	margin-left: 30px;
}

#book-direct {
	box-shadow: 5px 5px 5px gray;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

#book-direct > * {
	margin-left: 30px;
}

.send-btn {
    width: 500px;
    height: 40px;
    background: rgb(57, 189, 235);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#back-btn:hover ,
.send-message:hover ,
#modify-btn:hover ,
#delete-btn:hover ,
#soldout-btn:hover {
	cursor: pointer;
	box-shadow: 5px 5px 5px gray;
}

.hidden {
   display: none;
}

#back-btn {
	background-color: rgb(57, 189, 235);
	color: white;
	box-shadow: 5px 5px 5px gray;
	border: none;
	border-radius: 9px;
}

#back {
	display: flex;
	justify-content: space-around;
}

.listPrice {
	display: flex;
    align-items: center;
}

#bookName {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

#modify-btn ,
#delete-btn ,
#soldout-btn {
	width: 75px;
	height: 50px;
	border: none;
	background-color: rgb(57, 189, 235);
	color: white;
	border-radius: 9px;
}

.book-status-img {
	display: flex;
	flex-direction: column;
}

.book-title-img {
	display: flex;
}

#btn-div {
	display: flex;
	justify-content: flex-end;
	margin-top : 30px;
}

#btn-div>button{
	margin : 0px 10px;
}

.d-Img {
	display: flex;
}