   .input-form {
      max-width: 680px;
      margin-top: 80px;
      padding: 32px;
      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
        body {
       width:100%;
       height:100%;
       margin: 0;
        padding-top: 80px;
        padding-bottom: 40px;
        font-family: "Nanum Gothic", arial, helvetica, sans-serif;
        background-repeat: no-repeat;
        background:linear-gradient(to bottom right, white, #6BA8D1);
   }

#enrollment-wrapper {
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;

}

#wrapper {
    display: flex;
    justify-content: center;
}

form{

    padding: 20px;
    width: 400px;

}

label{
    color: gray;
    font-size: 10px;
}

#form-wrapper{
    display: flex;
    justify-content: center;
}

#info>input{
    border-radius: 5px;
    border: solid 2px lightgray;
    width: 400px;
    height: 25px;
}

#info{
    width: 600px;
}

#checkId{
    background-color:  skyblue;
    border: none;
    border-radius: 5px;
}

#enrollbutton{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#enrollbutton>div>input{
    background-color:  skyblue;
    border: lightgray;
    border-radius: 5px;
}

#ad{
    width: 350px;
    height: 150px;
    border: solid 2px lightgray;
    border-radius: 5px;
}

#agree2 b{
    font-size: larger;
}

#enrollimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#btn btn-primary{
      	height: 20px;
     	align-items: center;     
    }

#idcheck{
	background-color: cornflowerblue;
    border-radius: 15px;
    color: white;
	 border: 1px solid lightgray; 
} 

#emailcheck{
	background-color: cornflowerblue;
    border-radius: 15px;
    color: white;
	 border: 1px solid lightgray;
}   

#sendCode{
	background-color: cornflowerblue;
    border-radius: 15px;
    color: white;
	 border: 1px solid lightgray;
	 display :none;
} 

#checkCode{
	background-color: cornflowerblue;
    border-radius: 15px;
    color: white;
	 border: 1px solid lightgray;
	
}   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    