@font-face {
    font-family: "semi_font";
    src: url("../Fonts/SB\ 어그로\ L.ttf") format("truetype");
    font-weight: normal;
  }
* {
    font-family: 'semi_font';
}
#header {
    height: 120px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index:1;
}

#header-content {
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#navbar {
    padding: 2px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
}
 #boardsearch,#friendlist,#bookstore,#todolist,#management {
    padding: 20px 0px;
    height: 90px
} 

/* #navbar > div {
    padding: 20px 0px;
    height: 90px
}
 */
#navbar > div:hover{
    border-bottom: 5px solid rgb(57, 189, 235);
    color:skyblue;
    cursor:pointer;
}

#header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}

#header-right>button {
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
}

#message-btn:hover, #mypage-btn:hover{
	border:3px solid skyblue;
	cursor:pointer;
}

#login-btn{
    margin: 2px;
    width: 67px;
    background-color: #42A5F5;
    color: white;
}
#enrollment-btn {
    margin: 2px;
    width: 78px;
}
#message-btn{
	/*
    margin-right: 5px;
 	height: 100%;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/쪽지함.png);  
    background-size: contain;
    background-repeat: no-repeat;*/
 position: relative;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-image: url(../IMG/쪽지함.png);  
  background-size: contain;
  background-repeat: no-repeat;
    
  
}
#mypage-btn{
    margin-left: 5px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/마이페이지.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

#home-logo {
    height: 100%;
    width: 120px;
    cursor: pointer;
}

#home-logo>img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#friendcount1{
	display: none; 
    height: 23px;
    width: 23px;
    background-color: #f21616ad;
    font-size: 10px;
    list-style: none;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    top: 5px;
    left: 70px;
    justify-content: center;
    align-items: center;
		position: absolute;
}

#msgcount1{
/* 	display: none;  
    height: 23px;
    width: 23px;
    background-color:  #008000cc;
    font-size: 10px;
    list-style: none;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 1253px;
    justify-content: center;
    align-items: center; */
    display: none;  
  position: absolute;
  top: -10px;
  right: -10px;
  height: 23px;
  width: 23px;
  background-color: #008000cc;
  font-size: 10px;
  list-style: none;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}


#friendlist{
 	position: relative;  
}
#approveEnroll, #reportedBoards, #boardReq, #userManagement{
	height: 60%;
}


