#header {
    height: 120px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index:999;
}

#header-content {
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#navbar {
    padding: 2px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#navbar > div {
    padding: 20px 0px;
    height: 90px
}
#navbar > div:hover{
    border-bottom: 5px solid rgb(57, 189, 235);
}

#header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}

#header-right>button {
    height: 40px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

#login-btn{
    margin: 2px;
    width: 67px;
    background-color: rgb(57, 189, 235);
}
#enrollment-btn {
    margin: 2px;
    width: 78px;
}
#message-btn{
    margin-right: 5px;
    height: 100%;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/쪽지함.png);  
    background-size: contain;
    background-repeat: no-repeat;
}
#mypage-btn{
    margin-left: 5px;
    height: 100%;
    width: 40px;
    background-color: transparent;
    background-image: url(../IMG/마이페이지.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#home-logo {
    height: 100%;
    width: 120px;
}

#home-logo>img {
    width: 100%;
    height: 100%;
}