/* 모달 */
.modal-mainBox{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
}

#modal-alert{
	display: none;
}

.modal-background{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
    justify-content: center;
    padding-top: 10px;
}

.modal-container{
	 position: relative;
	background: white;
	width: 400px;
	height: 110px;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-contents, #modal-confirm-content{
	margin: 0px 16px 16px 16px;
	
}

#modal-button{
	background: skyblue;
	border-radius: 2px;
    border: 1px solid skyblue;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 25px;
}

#modal-button span{
	color: white;
}

#modal-confirm{
	display: none;
}
#modal-yes-button{
	background: skyblue;
	border-radius: 2px;
    border: 1px solid skyblue;
    position: absolute;
    right: 65px;
    bottom: 10px;
    width: 50px;
    height: 25px;
}

#modal-no-button{
	background: skyblue;
	border-radius: 2px;
    border: 1px solid skyblue;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 25px;
}
