#board-wrapper {
    width: 100%;
    display: flex;
    flex-direction : column;
    align-items : center;

}

#body-footer {
	width : 48%;
	display : flex;
	justify-content : space-between;
}
#page-btn {
	width : 70px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
#page-btn > div {
    width: 30px;
    height: 100%;
}
#back-btn {
    background-image: url(../IMG/left-arrow.png);
    background-size: contain;
}
#next-btn{
    background-image: url(../IMG/right-arrow.png);
    background-size: contain;
}
