#content{
    display: flex;
    justify-content: space-between;
    background-color: trasparent;
    width: 900px;
    border-radius: 15px;
}
#body{
    align-items: center;
}

#content1{
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}

#content2{
    margin: 10px;
    width: 650px;
}

#messagecheck{
    width: 100%;
    border-radius: 15px;
    overflow: scroll;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4d67c2;
    overflow-x: hidden;
    height: 600px;
    margin-top: 5px;
}

#messagecheck::-webkit-scrollbar {
  display: none;
}
	
.messagecheck2{
    width: 100%;
    overflow: scroll;
    height: 578px;
    border-radius: 5px;
    border: 1px solid #4d67c2;
    overflow-x: hidden;
    margin-top: 5px;
}

.messagecheck2::-webkit-scrollbar {
  display: none;
}

.messagecheck2>div{
    padding: 10px;
}

.date{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border-top : 1px solid #4d67c2;
    padding: 5px;
}

.messagesend{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4d67c2;
    padding: 5px;
}

.newfix{
    display: flex;
    align-items: center;
}

.sentmessage{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    border-top: 1px solid #4d67c2;
    color:#0ca5af;
}
.msgdate{
    color: #a6a6a6;
    font-size: 14px;
}
.opponent-name{
    font-size: 17px;
    font-weight: bold;
}

.receivemessage{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    border-top: 1px solid #4d67c2;
    color:rgb(231, 207, 31)
}
#messagebox3{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4d67c2;
}

.text{
    width: 100%;
    border-radius: 5px;
    border-bottom: 1px solid #4d67c2;
    margin-top: 5px;
    font-size: 15px;
    color: #a6a6a6;
    padding: 5px;
}

.receivetext,
.sendtext{
    width: 100%;
    border-radius: 5px;
    border-bottom: 1px solid #4d67c2;
    margin-top: 5px;
    color:black;
}
.opponents1 {
	/*background-color: rgba(66, 165, 245,0.1); */
	width:100%
}
.title-text{
    font-size: 30px;
    padding: 5px;
}

.openBtn{
    background-image: url(../IMG/sendMessage.png);
    background-color: transparent;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
  
}

