#tdl-wrapper{
        
    padding: 30px;
    width: 100%;
    min-height: 600px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
}
#title{
    width: 100%;
    height: 80px;
    display : flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
    
}
#title-left{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 360px;
    
}
#title-left>div{
    font-size: 50px;
}
#title-right{
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-size: 30px;
    width: 350px;
    margin-right: 10px;
}

#tdl-btn-add{
    background-image: url(../IMG/plus.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}
#content{
    width: 100%;
}

#tdl-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.26);
    top: 0;
    left: 0;
    /* visibility: hidden; */
}

#modal-wrapper{
    width: 600px;
    height: 200px;
    background-color: #E3F2FD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modal-head{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 45px;
    text-align : center;
    font-size: 27px;
    background-color: #0091EA;
    color: white;
}
#modal-body{
    height: 110px;
    background-color: #E1F5FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#modal-body > div{
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 5px 0;
}

#modal-body input[type='text']{
    width: 300px;
    height: 30px;
}
#modal-tdl-title>div{
    width: 50%;
}
#modal-tdl-text>input{
    border-width: 0px;
    border-radius: 5px;
}
#modal-tdl-text>input:focus{
    outline: 3px solid #0091EA;
}
#modal-tdl-priority{
    margin-right: 60px;
}
#modal-tdl-priority>input{
    appearance: none;   
    background-color: white;
    border-radius: 8px;
    width: 30px;
    height: 30px;
}
#modal-tdl-priority>input:checked{
    background-image: url(../IMG/correct.png);
    background-size: contain;
}
#modal-footer{
    height: 40px;
}
#modal-footer{
    display: flex;
    justify-content: center;
}
#modal-footer>button{
    
    border: none;
    height: 100%;
    width: 50%;
    color: white;
}
#add-btn{
    border-bottom-right-radius: 10px;
    background-color: #42A5F5;
}
#cancel-btn{
    border-bottom-left-radius: 10px;
    background-color: #4FC3F7;
}

.tdl{
    width: 100%;
    height: 70px;
    padding : 30px;
    padding-right: 0px;
    margin-bottom: 5px;
    background-color: #f1f4f9;
    display: flex;
    justify-content: space-between;
    align-items: center;      
    border-radius: 10px;
}

.tdl input[type='radio']{
    appearance: none;       
    background-color: white;
    border-radius: 8px;
    width: 30px;
    height: 30px;
}
.tdl input[type='radio']:checked{       
    background-image: url(../IMG/correct.png);
    background-size: contain;
}
.tdl-content{
    min-width: 550px;
}
.delete-btn{
    width: 60px;
    height: 60px;
    background-image: url(../IMG/delete.png);
    background-size: contain;
}