<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT USER_NO, USER_ID, USER_PWD, USER_CLASS, USER_NAME, NICK_NAME, EMAIL, ENROLL_DATE, AUTHORITY, REPORT_COUNT, RECOMMEND_COUNT, IS_BANNED, IS_WHITELIST, AVAILABLE, M.STATUS, FILE_PATH || CHANGE_NAME AS USERPROFILE 
		FROM MEMBER M
		LEFT JOIN USER_PROFILE_IMG ON (REF_USERID = USER_NO)
		WHERE USER_ID = ?
		AND USER_PWD = ?
		
		
	</entry>
	
	<entry key = "insertMember">
      INSERT INTO MEMBER(USER_NO,
                     USER_ID,
                     USER_PWD,
                     USER_CLASS,
                     USER_NAME,
                     NICK_NAME,
                     EMAIL,
                     AUTHORITY)
               VALUES (SEQ_UNO.NEXTVAL,
                     ?,
                     ?,
                     ?,
                     ?,
                     ?,
                     ?,
                     ?)
   
   </entry>
	
	<entry key="insertUserProFileImg">
      INSERT INTO USER_PROFILE_IMG(REF_USERID,
                            ORIGIN_NAME,
                            CHANGE_NAME,
                            FILE_PATH)
                     VALUES(?,
                           ?,
                           ?,
                           ?)       
   
   </entry>
	
	<entry key="selectMember">
         SELECT USER_NO
         FROM MEMBER
         WHERE USER_ID = ?
      
   </entry>
	
	
	<entry key="searchId">
		SELECT USER_ID
		FROM MEMBER
		WHERE USER_NAME = ?
		AND EMAIL = ?
		AND STATUS = 'Y'
	</entry>

	<entry key="memberCheck">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
		AND EMAIL = ?
		AND STATUS = 'Y'
	</entry>

	<entry key="updatePwd">
		UPDATE MEMBER SET
		USER_PWD = ?
		WHERE USER_ID = ?
	</entry>
	<entry key="isId">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?

	</entry>
	
	<entry key="checkPwd">
		SELECT USER_PWD
		 FROM  MEMBER
		WHERE USER_ID = ? AND USER_PWD = ? AND STATUS ='Y' 
	</entry>
	
	<entry key="updatePwd">
		UPDATE MEMBER
		   SET USER_PWD = ?
		 WHERE USER_ID = ? 
	</entry>
	
	<entry key="checkPwdForEmail">
		SELECT USER_PWD
		 FROM  MEMBER
		WHERE USER_ID = ? AND USER_PWD = ? AND STATUS ='Y' 
	</entry>
	
	<entry key="updateEmail">
		UPDATE MEMBER
		   SET EMAIL = ?
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="checkNickName">
		SELECT NICK_NAME
		  FROM MEMBER
		 WHERE NICK_NAME = ? AND STATUS = 'Y'
	</entry>
	
	<entry key="updateNickName">
		UPDATE MEMBER
		   SET NICK_NAME = ?
		 WHERE USER_ID = ?	
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET STAUS = 'N'
		 WHERE USER_ID = ?
	</entry>

	<!-- 여기부터 석범 코드 -->
	
	<entry key="checkPwd">
		SELECT USER_PWD
		 FROM  MEMBER
		WHERE USER_ID = ? AND USER_PWD = ? AND STATUS ='Y' 
	</entry>
	
	<entry key="checkPwdForEmail">
		SELECT USER_PWD
		 FROM  MEMBER
		WHERE USER_ID = ? AND USER_PWD = ? AND STATUS ='Y' 
	</entry>
	
	<entry key="updateEmail">
		UPDATE MEMBER
		   SET EMAIL = ?
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="updateNickName">
		UPDATE MEMBER
		   SET NICK_NAME = ?
		 WHERE USER_ID = ?	
	</entry>
	

	<entry key="deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="changeProfileImg">
		UPDATE USER_PROFILE_IMG
		   SET ORIGIN_NAME = ?
		   	 , CHANGE_NAME = ?
		  	 , FILE_PATH = ?
		 	 , UPLOAD_DATE = SYSDATE
		 WHERE REF_USERID = ? 
	
	</entry>
	
	<entry key="countUp">
     	  UPDATE MEMBER SET 
     	  @_COUNT = @_COUNT + 1
		 WHERE USER_NO = (
		 SELECT WRITER
		 FROM $
		 WHERE ^ = ?)
   </entry>
   
   <entry key="insertNoImgProfile">
   	INSERT INTO USER_PROFILE_IMG(REF_USERID)VALUES(?)
   </entry>

	<entry key="getRequestBoard">
		SELECT BOARD_NAME, IS_AGREE, ENROLL_DATE
		  FROM BOARD_REQ
		 WHERE USER_ID = M.USER_ID
		  JOIN MEMBER M ON(USER_ID = USER_ID)
	</entry>
	
	<entry key="deleteReuqestBoard">
		DELETE BOARD_REQ
		 WHERE BOARD_NAME = ?
	</entry>
</properties>